<footer class="footer">
    <div class="footer-container">

        <div class="footer-column">
            <img src="img/logo/logo32.png" alt="Logo" class="footer-logo">
        </div>
        
        <!-- Development Column -->
        <div class="footer-column">
            <h3>Follow me:</h3>
            <ul>
                <li><a href="https://x.com/arijkx_" target="_blank">Twitter</a></li>     
                <li><a rel="me" href="https://mastodon.social/@arijkx">Mastodon</a></li>    
                <li><a href="https://www.youtube.com/@arijkx" target="_blank">Youtube</a></li>
                <li><a href="https://github.com/Arijkx" target="_blank">GitHub</a></li>
                <li><a href="https://www.reddit.com/user/Arijkx/" target="_blank">Reddit</a></li>
           
            </ul>
        </div>

        <!-- Arts Column -->
        <div class="footer-column">
            <h3>More Art:</h3>
            <ul>
                <li><a href="https://www.instagram.com/arijkx_/" target="_blank">Instagram</a></li>
                <li><a href="https://www.artstation.com/arijkx" target="_blank">ArtStation</a></li>
                <li><a href="https://lospec.com/arijkx" target="_blank">Lospec</a></li>
                <li><a href="https://www.tumblr.com/arijkx" target="_blank">Tumblr</a></li>
                <li><a href="https://www.pixilart.com/arijkx" target="_blank">Pixilart</a></li>
            </ul>
        </div>

        <!-- Security Column -->
        <div class="footer-column">
            <h3>Security:</h3>
            <ul>
                <li><a href="legal-notice.html" target="_self">Legal Notice</a></li>
                <li><a href="privacy-policy.html" target="_self">Privacy Policy</a></li>
                <li><a href="cookie-settings.html" target="_self">Cookie Settings</a></li>
                <li><a href="storage.html" target="_self">Backup & Reset</a></li>
            </ul>
        </div>
    </div>

    <p>© 2025 Arijkx | PIXELS - All Pixels Reserved</p>
</footer>

